
.catalogo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    border: 2px solid #333;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    color: white; 
}

.catalogo-item:hover {
    /* Estado hover */
    background: white;   
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;   
    border-color: white;    
}

body {
    background-image: url('../img/ttten.svg');
    background-size: cover;
    background-position: center;
    max-width: 1500px;    
    margin: 0 auto;   
}